* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* HEADER */

#header {
  padding: 30px 0 10px 0;
  background: #2435a1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: myAnimup 2s ease 0s 1 normal forwards;
}

@keyframes myAnimup {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateY(-65px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateY(-28px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateY(-8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}

select {
  color: var(--light-text-color, #fff);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
  background: none;
  border: none;
  outline: none;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 80px;
}

.header-nav a:hover {
  color: yellow;
}

.header-nav a {
  color: var(--light-text-color, #fff);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
  transition: 0.8s;
}

/* HERO */

#hero {
  padding: 30px 0;
}

.hero-title {
  text-align: center;
  margin-bottom: 82px;
}

.hero {
  display: flex;
  text-align: center;
}

.btns button {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 600;
  width: 401px;
  height: 74px;
  border-radius: 16px;
  background: #2435a1;
  border: none;
  margin: 30px 0;
}

/* FOOTER */

#footer {
  background: url(./img/footer-bg.png) no-repeat top/cover;
  height: 270px;
}

.footer {
  padding-top: 50px;
  animation: myAnim 2s ease 0s 1 normal forwards;
}

@keyframes myAnim {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateY(65px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateY(28px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateY(8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-left-icon {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.footer-left-icon a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.6px;
}

.footer-top a {
  color: #fff;
  /* text-align: center; */
  font-size: 20px;
  font-weight: 700;
}

.footer-right h1 {
  color: var(--light-text-color, #fff);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.2px;
}

.footer-right-icon {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
  color: #fff;
}

.line {
  padding: 0.5px 500px;
  background: #fff;
  margin: 10px 0;
}

.footer-bottom p {
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.1px;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
